version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 100

  kafka-ui:
    image: provectuslabs/kafka-ui
    ports:
      - "9000:8080"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: docker-kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=repdoctor
      - POSTGRES_PASSWORD=repdoctor
      - POSTGRES_DB=repdocdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  product-service:
    build:
      context: ./product-service
    ports:
      - '8084:8081'
    depends_on:
      - postgres

  order-service:
    build:
      context: ./order-service
    ports:
      - '8082:8082'
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/repdocdb
      SPRING_DATASOURCE_USERNAME: repdoctor
      SPRING_DATASOURCE_PASSWORD: repdoctor
    depends_on:
      - kafka
      - postgres

  inventory-service:
    build:
      context: ./inventory-service
    ports:
      - '8083:8083'
    depends_on:
      - kafka
      - postgres

volumes:
  pgdata:
