apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: your-dockerhub/inventory-service:latest
          ports:
            - containerPort: 8083
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service-svc
spec:
  selector:
    app: inventory-service
  ports:
    - port: 8083
      targetPort: 8083
  type: ClusterIP
