apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-deployment
  namespace: repdoctor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: nirajkdas181409/inventory-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8083
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/repdocdb
            - name: SPRING_DATASOURCE_USERNAME
              value: repdoctor
            - name: SPRING_DATASOURCE_PASSWORD
              value: repdoctor
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: repdoctor
spec:
  selector:
    app: inventory-service
  ports:
    - port: 8083
      targetPort: 8083
