apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  namespace: repdoctor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: nirajkdas181409/order-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
      env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:postgresql://postgres:5432/repdocdb
        - name: SPRING_DATASOURCE_USERNAME
          value: repdoctor
        - name: SPRING_DATASOURCE_PASSWORD
          value: repdoctor
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          value: kafka:9092
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: repdoctor
spec:
  selector:
    app: order-service
  ports:
    - port: 8082
      targetPort: 8082
