apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
  namespace: repdoctor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: nirajkdas181409/product-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/repdocdb
            - name: SPRING_DATASOURCE_USERNAME
              value: repdoctor
            - name: SPRING_DATASOURCE_PASSWORD
              value: repdoctor
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: repdoctor
spec:
  selector:
    app: product-service
  ports:
    - port: 8081
      targetPort: 8081
